# ignore all logs */log
# ignore the file literally named CicloVida.rar
# ignore the file literally named ListaPaises.rar
# ignore the file literally named P1.rar
P2/app-debug.apk
P2/SharedPreferences.zip
* .log
* zip
